.frame49-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame49-frame49 {
  width: 100%;
  height: 5671px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.frame49-hero {
  gap: 10.600814819335938px;
  top: 45px;
  left: 0px;
  width: 1602px;
  height: 970px;
  display: flex;
  padding: 10.600814819335938px 33.922607421875px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame49-text {
  top: 78px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  width: 778px;
  height: auto;
  position: absolute;
  font-size: 197.6252899169922px;
  font-style: Medium;
  text-align: left;
  font-family: PP Neue Montreal;
  font-weight: 500;
  line-height: 86.77799105644226%;
  font-stretch: normal;
  text-decoration: none;
}
 .frame49-text04 {
  top: 695px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  width: 632px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: PP Neue Montreal;
  font-weight: 500;
  line-height: 120.00600099563599%;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-text06 {
  top: 1207px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 1529px;
  height: auto;
  position: relative;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: PP Neue Montreal;
  font-weight: 500;
  line-height: 120.00600099563599%;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-text08 {
  top: 1877px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  width: 1519px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: PP Neue Montreal;
  font-weight: 500;
  line-height: 120.00600099563599%;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-text10 {
  top: 2318px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  width: 1527px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: PP Neue Montreal;
  font-weight: 500;
  line-height: 120.00600099563599%;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-text20 {
  top: 2689px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  width: 1527px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: PP Neue Montreal;
  font-weight: 500;
  line-height: 120.00600099563599%;
  font-stretch: normal;
  text-decoration: none;
}

.frame49-text22 {
  top: 3000px;
  left: 38px;
  color: rgba(0, 0, 0, 1);
  width: 1473px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: PP Neue Montreal;
  font-weight: 500;
  line-height: 120.00600099563599%;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-text24 {
  top: 3332px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Book;
  text-align: left;
  font-family: PP Neue Montreal;
  font-weight: 300;
  line-height: 120.00600099563599%;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-text26 {
  color: rgba(82, 82, 82, 1);
  height: 3332;
  position: absolute;
  font-size: 24px;
  font-style: Book;
  text-align: left;
  font-family: PP Neue Montreal;
  font-weight: 300;
  line-height: 120.00600099563599%;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-text30 {
  top: 3158px;
  left: 38px;
  color: rgba(0, 0, 0, 1);
  width: 770px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: PP Neue Montreal;
  font-weight: 500;
  line-height: 120.00600099563599%;
  font-stretch: normal;
  text-decoration: none;
}
/*
.frame49-hero1 {
  gap: 10.600814819335938px;
  top: 918px;
  left: 1px;
  width: 1602px;
  height: 970px;
  display: flex;
  padding: 10.600814819335938px 33.922607421875px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}


.frame49-hero2 {
  gap: 10.600814819335938px;
  top: 1888px;
  left: 0px;
  width: 1602px;
  height: 970px;
  display: flex;
  padding: 10.600814819335938px 33.922607421875px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame49-hero3 {
  gap: 10.600814819335938px;
  top: 2845px;
  left: 7px;
  width: 1602px;
  height: 970px;
  display: flex;
  padding: 10.600814819335938px 33.922607421875px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}


.frame49-hero4 {
  gap: 10.600814819335938px;
  top: 3751px;
  left: 0px;
  width: 1602px;
  height: 970px;
  display: flex;
  padding: 10.600814819335938px 33.922607421875px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame49-hero5 {
  gap: 10.600814819335938px;
  top: 3783px;
  left: 0px;
  width: 1602px;
  height: 1822px;
  display: flex;
  padding: 10.600814819335938px 33.922607421875px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame49-frame46 {
  top: 1653px;
  left: 0px;
  width: 1602px;
  height: 225px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame49-frame47 {
  top: 29px;
  left: 641px;
  width: 606px;
  height: 167px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame49-email-input {
  top: 93px;
  left: 0px;
  width: 500px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame49-line5 {
  top: 33px;
  left: 0px;
  width: 500px;
  height: 1px;
  position: absolute;
}
.frame49-text28 {
  color: rgba(179, 179, 179, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Book;
  text-align: left;
  font-family: PP Neue Montreal;
  font-weight: 300;
  line-height: 120.00600099563599%;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-frame48 {
  top: 9px;
  left: 480px;
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame49-group2 {
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16.45947265625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame49-line6 {
  top: 1px;
  left: 2px;
  width: 14px;
  height: 1px;
  position: absolute;
}
.frame49-line7 {
  top: 14px;
  left: 16px;
  width: 14px;
  height: 1px;
  position: absolute;
}
.frame49-line8 {
  top: 16.45947265625px;
  left: 0px;
  width: 22px;
  height: 1px;
  position: absolute;
}

.frame49-maskgroup {
  top: -67px;
  left: 666px;
  width: 929px;
  height: 929px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame49-ellipse11 {
  top: 0px;
  left: 0px;
  width: 929px;
  height: 929px;
  position: absolute;
}
.frame49-image18 {
  top: 153px;
  left: 145px;
  width: 736px;
  height: 767px;
  position: absolute;
}
.frame49-group19 {
  top: 363.00006103515625px;
  left: 1972px;
  width: 2114.99951171875px;
  height: 691.0009155273438px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame49-group13 {
  top: 376.00091552734375px;
  left: 577.185546875px;
  width: 293.457275390625px;
  height: 315px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame49-text40 {
  top: 237px;
  color: rgba(153, 240, 208, 1);
  width: 263px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-text42 {
  color: var(--dl-color-default-white);
  width: 293px;
  height: auto;
  position: absolute;
  font-size: 33px;
  font-style: SemiBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-group14 {
  top: 375.99993896484375px;
  left: 1348.9296875px;
  width: 268.0703125px;
  height: 315.0009765625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame49-text44 {
  top: 237.0009765625px;
  color: rgba(153, 240, 208, 1);
  width: 255px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-text46 {
  left: 0.0703125px;
  color: var(--dl-color-default-white);
  width: 268px;
  height: auto;
  position: absolute;
  font-size: 33px;
  font-style: SemiBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-group15 {
  top: 376.00091552734375px;
  left: 972.785888671875px;
  width: 270.7589111328125px;
  height: 315px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame49-text50 {
  top: 237px;
  color: rgba(153, 240, 208, 1);
  width: 271px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-text52 {
  color: var(--dl-color-default-white);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 33px;
  font-style: SemiBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-text54 {
  top: 192.0009307861328px;
  left: 577.1873168945312px;
  color: rgba(153, 240, 208, 1);
  width: 69px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-text56 {
  top: 192.0009307861328px;
  left: 972.7872314453125px;
  color: rgba(153, 240, 208, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-text58 {
  top: 192.0009307861328px;
  left: 1348.931396484375px;
  color: rgba(153, 240, 208, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-text60 {
  top: 192.0009307861328px;
  left: 1693.45947265625px;
  color: rgba(153, 240, 208, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-group16 {
  top: 376.00091552734375px;
  left: 1693.4599609375px;
  width: 232.65811157226562px;
  height: 315px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame49-text62 {
  top: 237px;
  color: rgba(153, 240, 208, 1);
  width: 233px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-text64 {
  color: var(--dl-color-default-white);
  width: 211px;
  height: auto;
  position: absolute;
  font-size: 33px;
  font-style: SemiBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-header {
  gap: 641.8588256835938px;
  top: 20px;
  left: -1px;
  width: 1603px;
  display: flex;
  padding: 10.487890243530273px 33.922607421875px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.frame49-text66 {
  color: rgba(14, 14, 14, 1);
  width: 82px;
  height: auto;
  font-size: 16px;
  font-style: Book;
  text-align: center;
  font-family: PP Neue Montreal;
  font-weight: 300;
  line-height: 120.00600099563599%;
  font-stretch: normal;
  text-decoration: none;
}
.frame49-image271 {
  top: 1897px;
  left: 32px;
  width: 759px;
  height: 454px;
  position: absolute;
}
.frame49-image341 {
  top: 2373px;
  left: 815px;
  width: 755px;
  height: 452px;
  position: absolute;
} */
